# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FileManager_Budgo.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Програмирование\C#\FileManager_Budgo\.idea\.idea.FileManager_Budgo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
